  <div class = "about-wrapper">
    <div class = "about-left">
      <div class = "about-left-content">
        <div>
          <div class = "shadow">
            <div class = "about-img">
              <img src = "https://media.licdn.com/dms/image/D5603AQE2teDGrQDSZw/profile-displayphoto-shrink_800_800/0/1664987491502?e=1681948800&v=beta&t=tQiHnTs2eYfn5E4uppItWj8uZdft8GIySYxVlgOWiDM" alt = "about image">
            </div>
          </div>

          <h2 class="text-white"><br>Sai Teja</h2>
          <h3 class="text-white">Software Developer</h3>
        </div>
      </div>
    </div>

    <div class = "about-right">
      <h1>hi<span>!</span></h1>
      <h2>Here's who I am & what I do</h2>
      <div class = "about-btns">
        <button type = "button" class = "btn btn-pink"  onClick="resume.pdf">Resume</button>
        <button type = "button" class = "btn btn-white">Contact</button>
      </div>

      <div class = "about-para">
       <p>
        Hello, I am a full-stack developer with a focus on building web
        applications. I am highly curious about the nature of tech, and a
        dilligent problem solver. Outside of coding, I love to hike the great
        outdoors, play some cricket and online games.
       </p>
      </div>
    </div>
  </div>

  