<section class="title-section">
  <div class="title-img-div">
    <img class="title-background" src="../assets/bg.png" />
    <div class="title-img-h-div">
      <h2>Hello, I am</h2>
      <h1>SAI TEJA</h1>
      <h2>Full-Stack Web Developer</h2>
    </div>
  </div>
  <div class="title-sidebar-div">
    <img
      class="title-sidebar-portfolio-img"
      src="https://media.licdn.com/dms/image/D5603AQE2teDGrQDSZw/profile-displayphoto-shrink_800_800/0/1664987491502?e=1681948800&v=beta&t=tQiHnTs2eYfn5E4uppItWj8uZdft8GIySYxVlgOWiDM"
    />
    <h3>Sai Teja</h3>
    <h4 class="title-profession-h4">Full-Stack Web Developer</h4>
    <img class="title-fullstack-icon" src="../assets/full_stack.png" />
    <h4 class="title-email-h4">ysaiteja34@gmail.com</h4>
    <h4>+918328278798</h4>

    <div class="title-portfolio-icons">
      <a href="https://www.linkedin.com/in/thomas-huynh-76a64076/"
        ><img class="title-linkedin-icon" src="../assets/linkedin.png"
      /></a>
      <a href="https://github.com/thomas-t-huynh"
        ><img class="title-github-icon" src="../assets/github.png"
      /></a>
    </div>
  </div>
</section>

