<section class="title-section">
    <div class="title-img-div">
      <img class="title-background" src="bgs.jpg" />
      <div class="title-img-h-div">
        <h2>Hello, I am</h2>
        <h1>Thomas Huynh</h1>
        <h2>Full-Stack Web Developer</h2>
      </div>
    </div>
    <div class="title-sidebar-div">
      <img
        class="title-sidebar-portfolio-img"
        src="https://avatars2.githubusercontent.com/u/57205490?s=460&v=4"
      />
      <h3>THOMAS HUYNH</h3>
      <h4 class="title-profession-h4">Full-Stack Web Developer</h4>
      <img class="title-fullstack-icon" src="full_stack.png" />
      <h4 class="title-email-h4">t_huynh927@yahoo.com</h4>
      <h4>714-360-6524</h4>

      <div class="title-portfolio-icons">
        <a href="https://www.linkedin.com/in/thomas-huynh-76a64076/"
          ><img class="title-linkedin-icon" src="linkedin.png"
        /></a>
        <a href="https://github.com/thomas-t-huynh"
          ><img class="title-github-icon" src="github.png"
        /></a>
      </div>
    </div>
  </section>