 body {
    font-family: "Raleway", sans-serif;
  }
  
  a {
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
  }
  
  p {
    font-size: 0.5rem;
    font-weight: 500;
  }
  
  h1 {
    font-size: 3rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: 1.8rem;
    font-weight: 400;
  }
  
  h4 {
    font-size: 1rem;
  }
  
  ul {
    list-style-type: disc;
  }
  li {
    text-decoration: none;
    font-size: 0.5rem;
    font-weight: 500;
  }
  
  header {
    background: #003399;
    height: 5rem;
    display: flex;
    align-items: center;
  }
  
  header nav {
    display: flex;
    width: 800px;
    margin: 0 auto;
  }
  
  header nav a {
    padding: 0 1.5rem;
    border-right: 1px solid #5b5857;
  }
  
  header nav a:last-child {
    border: none;
  }
  .head{
    font-size:2rem;
  }
  