<section id="Experience" class="experience-section">
    <div class="container">
      <div class="experience-div">
        <h2>Education</h2>
        <div>
          <h3>2020 - Present</h3>
          <h4>CVR College of Engineering</h4>
          <p>B.Tech in Computer Science and Engineering(Data science)</p>
        </div>
        <div>
          <h3>2018 - 2020</h3>
          <h4>Alphores Junior College</h4>
          <p>Maths-Physics-Chemistry</p>
        </div>
      </div>
      <div class="experience-div">
        <h2>Experience</h2>
        <div>
          <h3>2021 - Present</h3>
          <h4>Web Development Core Team</h4>
          <p>Google Developers student Clubs</p>
        </div>
        <div>
            <h3>2021 - Present</h3>
            <h4>National Service Scheme</h4>
          </div>
       
      </div>
    </div>
  </section>
