<section id="Skills" class="skills-section">
    <div class="container">
      <br/>
      <h2>Skills</h2>
    </div>
    <div class="skills-div">
        <div class="skills-card">
            <img src="../../../assets/java.png" />
            <h3>Java</h3>
          </div>
      <div class="skills-card">
        <img src="../../../assets/react.png" />
        <h3>React</h3>
      </div>
      <div class="skills-card">
        <img src="../../../assets/nodejs.png" />
        <h3>Node</h3>
      </div>
      <div class="skills-card">
        <img src="../../../assets/javascript.png" />
        <h3>JavaScript</h3>
      </div>
      <div class="skills-card">
        <img src="../../../assets/python.jpg" />
        <h3>Python</h3>
      </div>
      <div class="skills-card">
        <img src="../../../assets/css.png" />
        <h3>CSS</h3>
      </div>
      <div class="skills-card">
        <img src="../../../assets/html.png" />
        <h3>HTML</h3>
      </div>
      <div class="skills-card">
        <img src="../../../assets/sql.png" />
        <h3>MYSQL</h3>
      </div>
      <div class="skills-card">
        <img src="../../../assets/mongodb.png" />
        <h3>MongoDB</h3>
      </div>
      <div class="skills-card">
        <img src="../../../assets/tableau.png" />
        <h3>Tableau</h3>
      </div>
      <div class="skills-card">
        <img src="../../../assets/next.jpg" />
        <h3>NextJS</h3>
      </div>
      
    </div>
  </section>
  